.hero{
  position: relative;
  background-color: #2D2641;
  padding-top: 105px;
  padding-bottom: 127px;
  // overflow-x: hidden;
  
  &::before{
    content: "";
    position: absolute;
    width: 697px;
    height: 649px;
    left: calc(50% - 1200px);
    bottom: -480px;
    z-index: 2;
    background-image: url("/img/hero-decor-left.svg");
    background-repeat: no-repeat;
  }
  
  &::after{
    content: "";
    position: absolute;
    width: 697px;
    height: 649px;
    right: calc(50% - 1000px);
    top: -80px;
    z-index: 2;
    background-image: url("/img/hero-decor-right.svg");
    background-repeat: no-repeat;
  }
}

.hero__container{
  display: flex;
  align-items: center;
}

.hero__content{
  max-width: 552px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  &::before{
    content: "";
    display: block;
    width: 25%;
    height: 1px;
    background-color: #fff;
  }
}

.hero__title{
  padding: 0;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 16px;
  font-family: "DM Serif Display";
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #fff;
}

.hero__txt{
  margin-bottom: 24px;
}

.hero__view-plans{
  background:transparent;
  color: #fff;
  border-color: #fff;
  padding: 13px 28px;
}

.hero__img{
  position: absolute;
  right: calc(50% - 560px);
  bottom: -215px;
  width: 540px;
  height: 650px;
  z-index: 1;
  
  &--mobile{
    position: relative;
    width: 100%;
    height: 451px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
  .hero{
    position: relative;
    padding: 0;

    &::before{
      display: none;
    }

    &::after{
      display: none;
    }
    
  }
  
  .hero__container{
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
  
  .hero__content{
    padding-top: 93px;
    padding-bottom: 93px;
    max-width: 627px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .hero__title{
    padding: 0;
    margin: 0;
    padding-top: 16px;
    margin-bottom: 16px;
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    
    &::before{
      // content: "";
      position: absolute;
      width: 485px;
      height: 453px;
      right: calc(50%);
      top: 0px;
      z-index: 97;
      background-image: url("/img/hero-decor-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    
    &::after{
      // content: "";
      position: absolute;
      width: 485px;
      height: 453px;
      left: calc(50% + 250px);
      bottom: -220px;
      z-index: 97;
      background-image: url("/img/hero-decor-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  
  .hero__txt{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    text-align: left;
  }
  
  .hero__view-plans{
    background:transparent;
    color: #fff;
    border-color: #fff;
    padding: 13px 28px;
  }
  
  .hero__img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 98;
  }
}

@media only screen and (max-width: 767px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }
  
  .hero{
    position: relative;
    padding: 0;
    
    &::before{
      display: none;
    }
    
    &::after{
      display: none;
    }
  }
  
  .hero__container{
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
  
  .hero__content{
    padding-top: 93px;
    padding-bottom: 93px;
    min-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &::before{
      display: none;
    }
  }
  
  .hero__title{
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    
    &::before{
      content: "";
      position: absolute;
      width: 485px;
      height: 453px;
      right: calc(50% - 20px);
      top: 220px;
      z-index: 97;
      background-image: url("/img/hero-decor-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    
  }
  
  .hero__txt{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    text-align: center;
  }
  
  .hero__view-plans{
    background:transparent;
    color: #fff;
    border-color: #fff;
    padding: 13px 28px;
  }
  
  .hero__img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 98;
  }
}



