.view-plans{
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #2C2830;
  padding: 13px 28px;
  background-color: transparent;
  border: 1.5px solid;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.4s ease;

  &:hover{
    background-color: #2C2830;
    color: #fff;
  }
}